/* You can add global styles to this file, and also import other style files */


/* form div.input-field input {
  padding-left: 15px !important;
  color: #25a297;
}

input.ng-invalid.ng-dirty {
  border-bottom-color: #e91e63 !important;
  box-shadow: 0 1px 0 0 #e91e63 !important;
}

.input-field>label {
  font-size: 1.2rem;
  font-weight: bold;
}

.btn-custom,
.btn-custom:hover,
.btn-custom:focus {
  background-color: transparent;
  font-size: 1.1rem;
  margin: 0px 5px;
  border: #fff solid 1px;
  text-transform: none;
}

div.card {
  background-color: #083045;
  border-radius: 10px;
}

.vl {
  border-left: 2px solid #9e9e9e;
  height: 400px;
}*/

a.action-btn {
    color: #9e9e9e;
    margin: 0px 5px;
}

a.action-btn:hover {
    cursor: pointer;
}

toast-container {
    top: auto !important;
    right: auto !important;
    bottom: 10%;
    left: 7%;
}

nav {
    padding: 5px 10px;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    background-color: #2bbbad;
    border-radius: 4px;
}

nav a:visited,
a:link {
    color: #fff;
}

nav a:hover {
    cursor: pointer;
}

nav a.active {
    color: #039be5;
}

h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}

body {
    margin: 2em;
}


/*


h2,
h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}



body,
input[text],
button {
  color: #888;
  font-family: Cambria, Georgia;
}

a {
  cursor: pointer;
  cursor: hand;
}

button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}

button:hover {
  background-color: #cfd8dc;
}

button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
} */